body {
    background-image: url("indir4.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    width: 900px;
    height: 280px;
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: 600;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

td, th {
    border: 1px solid black;
    border-collapse: collapse;
} 

th {
    background-color: pink;
}

td {
    background-color:aqua;
}

